# This is an example of the .env file that requires setting up for this pipeline to function.

# SQL Connection Details
server="replace_with_your_server"
uid="your.name@udal.nhs.uk"
database="replace_with_your_database_name"

# SQL Query Replacements
ods_schema_placeholder="replace_with_your_ods_schema"
org_ods_table_placeholder="replace_with_your_org_table"
hierarchies_ods_table_placeholder="replace_with_your_hierarchies_table_name"
curated_devices_schema_placeholder="replace_with_your_curated_devices_schema"
curated_devices_table_placeholder="replace_with_your_curated_devices_table_name"
devices_schema_placeholder="replace_with_your_devices_schema"
devices_table_placeholder="replace_with_your_devices_table_name"