-e .
black
exceptiongroup
flake8
git+https://github.com/nhsengland/nhs_herbot.git@20250328
ipython
isort
jupyterlab
loguru
matplotlib
mkdocs
mkdocs-material
mkdocstrings[python]
notebook
numpy
pandas
pip
pre-commit
pytest
pytest-cov
pytest-mock
pytest-xdist
python-dotenv
scikit-learn
tqdm
typer
xlsxwriter
